---
import Layout from "@/layouts/Layout.astro"
import SubstackEmbed from "@/components/SubstackEmbed.astro"
import ListItem from "@/components/ListItem.astro"
import { formatDate, getSortedPosts } from "@/lib/utils"

const sortedPosts = await getSortedPosts()
---

<Layout title="Blog | Max Petretta" description="Posts, notes, and thoughts">
  <section class="mt-6">
    <h1 class="font-medium mb-5">Blog</h1>
    <p class="text-muted-foreground">Posts, notes, and thoughts</p>

    <ul class="mt-6 space-y-2 text-sm sm:text-base">
      {sortedPosts.map((post) => (
        <ListItem
          href={`/${post.id}`}
          title={post.data.title}
          description={post.data.description}
          meta={formatDate(post.data.date)}
          shortMeta={formatDate(post.data.date, true)}
        />
      ))}
    </ul>
  </section>

  <SubstackEmbed class="mt-12" />
</Layout>
