---
import { getCollection, type CollectionEntry } from "astro:content"
import Layout from "@/layouts/Layout.astro"
import Projects from "@/components/Projects.astro"
import Experiences from "@/components/Experiences.astro"
import ListItem from "@/components/ListItem.astro"
import { formatDate } from "@/lib/utils"

const posts: CollectionEntry<"posts">[] = await getCollection("posts")
const recentPosts = posts
  .sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())
  .slice(0, 5)
---

<Layout>
  <section class="mt-6 text-muted-foreground">
    <h2>Software Engineer</h2>
    <h3>Detroit, MI</h3>
  </section>

  <section class="mt-16">
    <h3 class="mb-4 font-medium">Now</h3>
    <p class="text-stone-700 dark:text-stone-300">
      Currently working on making prediction markets social with <a
        href="https://bracky.app/home"
        class="underline underline-offset-4">Bracky</a
      >.
    </p>
  </section>

  <section class="mt-16">
    <h3 class="mb-5 font-medium">Blog</h3>
    <ul class="space-y-2 text-sm sm:text-base">
      {recentPosts.map((post) => (
        <ListItem href={`/${post.id}`} title={post.data.title} meta={formatDate(post.data.date, true)} />
      ))}
    </ul>
    <div class="mt-4 flex justify-end">
      <a
        href="/blog"
        class="clickable rounded-md border border-border px-4 py-2 text-sm hover:bg-accent hover:text-accent-foreground"
      >
        All posts &rarr;
      </a>
    </div>
  </section>

  <section class="mt-2">
    <h3 class="mb-4 font-medium">Projects</h3>
    <Projects />
  </section>

  <section class="mt-16">
    <h3 class="mb-4 font-medium">Experience</h3>
    <Experiences />
  </section>
</Layout>
