---
interface Props {
  href: string
  title: string
  meta: string
  description?: string
  external?: boolean
}

const { href, title, meta, description, external = false } = Astro.props
---

<li>
  <a
    href={href}
    title={description}
    target={external ? "_blank" : undefined}
    rel={external ? "noreferrer" : undefined}
    class="-mx-2 block rounded-sm px-2 py-2 hover:bg-accent hover:text-accent-foreground"
  >
    <div class="flex justify-between border-b border-dotted border-muted-foreground/60">
      <span>{title}</span>
      <span class="whitespace-nowrap text-left font-mono text-muted-foreground">{meta}</span>
    </div>
  </a>
</li>
