---
const socials = [
  { name: "email", href: "mailto:m@maxp.co" },
  { name: "github", href: "https://github.com/maxpetretta" },
  { name: "farcaster", href: "https://warpcast.com/maxp.eth" },
  { name: "twitter", href: "https://twitter.com/maxpetretta" },
  { name: "linkedin", href: "https://linkedin.com/in/maxpetretta" },
]
---

<footer class="-mx-4 mb-6">
  <address class="flex items-center justify-center gap-1 not-italic sm:gap-6">
    {
      socials.map((social) => (
        <a
          href={social.href}
          target="_blank"
          rel="noreferrer"
          class="inline-flex h-9 items-center justify-center rounded-md px-3 text-sm font-medium text-zinc-500 transition-colors hover:bg-accent hover:text-accent-foreground dark:text-zinc-400"
        >
          {social.name}
        </a>
      ))
    }
  </address>
</footer>
