@import "tailwindcss";

@layer base {
	@font-face {
		font-family: "InterVariable";
		font-weight: 100 900;
		font-style: normal;
		font-display: swap;
		src: url("/fonts/InterVariable.woff2") format("woff2");
	}
	@font-face {
		font-family: "InterVariable";
		font-weight: 100 900;
		font-style: italic;
		font-display: swap;
		src: url("/fonts/InterVariable-Italic.woff2") format("woff2");
	}
	@font-face {
		font-family: "MonaspaceArgonVarVF";
		font-weight: 100 900;
		font-style: normal;
		font-display: swap;
		src: url("/fonts/MonaspaceArgonVarVF.woff2") format("woff2");
	}
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 20 14.3% 4.1%;
		--card: 0 0% 100%;
		--card-foreground: 20 14.3% 4.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 20 14.3% 4.1%;
		--primary: 24 9.8% 10%;
		--primary-foreground: 60 9.1% 97.8%;
		--secondary: 60 4.8% 95.9%;
		--secondary-foreground: 24 9.8% 10%;
		--muted: 60 4.8% 95.9%;
		--muted-foreground: 25 5.3% 44.7%;
		--accent: 60 4.8% 95.9%;
		--accent-foreground: 24 9.8% 10%;
		--destructive: 0 72.22% 50.59%;
		--destructive-foreground: 60 9.1% 97.8%;
		--border: 20 5.9% 90%;
		--input: 20 5.9% 90%;
		--ring: 20 14.3% 4.1%;
		--radius: 0.5rem;
		--cursor-color: black;
	}

	.dark {
		--background: 20 14.3% 4.1%;
		--foreground: 60 9.1% 97.8%;
		--card: 20 14.3% 4.1%;
		--card-foreground: 60 9.1% 97.8%;
		--popover: 20 14.3% 4.1%;
		--popover-foreground: 60 9.1% 97.8%;
		--primary: 60 9.1% 97.8%;
		--primary-foreground: 24 9.8% 10%;
		--secondary: 12 6.5% 15.1%;
		--secondary-foreground: 60 9.1% 97.8%;
		--muted: 12 6.5% 15.1%;
		--muted-foreground: 24 5.4% 63.9%;
		--accent: 12 6.5% 15.1%;
		--accent-foreground: 60 9.1% 97.8%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 60 9.1% 97.8%;
		--border: 12 6.5% 15.1%;
		--input: 12 6.5% 15.1%;
		--ring: 24 5.7% 82.9%;
		--cursor-color: white;
	}
}

@theme {
	--font-sans: "InterVariable", -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
	--font-serif: -apple-system-ui-serif, ui-serif, serif;
	--font-mono: "MonaspaceArgonVarVF", ui-monospace, monospace;
}

@layer base {
	* {
		border-color: hsl(var(--border));
	}
	body {
		background-color: hsl(var(--background));
		color: hsl(var(--foreground));
	}
	::selection {
		background-color: #8a63d2;
		color: white;
	}
}

@layer utilities {
	.no-transition *:not(.switch) {
		transition: none !important;
	}

	.clickable {
		transition-duration: 200ms;
		transition-timing-function: ease-in-out;
	}
	.clickable:hover {
		transform: scale(1.01);
	}
	.clickable:active {
		transform: scale(0.98);
	}
	@media (min-width: 640px) {
		.clickable:active {
			transform: scale(0.99);
		}
	}
}
